html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
background-color: #ec7d0e;
border-radius: 5px;
transition: 0.3s ease;
  }
  
  .menu li {
  padding: 5px 14px;
  float: right;
  border-right: 1px solid #e87e04;
  }
  

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.logo img {
  height: 50px;
  display: block;
  float: left;
}

.hamburger {
display: none;
font-size: 24px;
user-select: none;
  
  }
/* responsivnes */
@media screen and (max-width: 600px){
ul.topnav li.right,
ul.topnav li {float: none;}
  
  }