.hero-section {
  background-image: url("./bled-g85d2545bb_1920.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
}

.quotation-block {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quotation-block i {
  font-size: 24px;
  color: #444;
}

.quotation-block p {
  font-size: 24px;
  color: #444;
  margin: 20px 0;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px 0;
}

.author-name {
  font-size: 18px;
  font-weight: bold;
  color: #444;
  margin: 0;
}

.author-position {
  font-size: 16px;
  color: #777;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .quotation-block {
    padding: 30px;
  }
  
  .author-info img {
    width: 60px;
    height: 60px;
    margin: 10px 0;
  }
  
  .author-name {
    font-size: 16px;
  }
  
  .author-position {
    font-size: 14px;
  }
}
