body {
  background-color: #eaeff1;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}

#container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
}

.card {
  background-color: white;
  border: 1px solid rgb(216, 137, 0);
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  
}

.tag {
  padding: 4px 8px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-size: 14px;
  color: #474748;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: white;
  background-color: rgb(241, 133, 91);
  /* to inline button to the center */
  margin: 0 auto;
  display: block;

  cursor: pointer;
}
button:focus,
button:hover {
  background-color: rgb(235, 81, 20);
  color: white;
}
.card-details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}